@font-face {
  font-family: 'NanumPenScript';
  src: url('/NanumPenScript-Regular.ttf') format('truetype');
}

html,
body {
  margin: 0;
  width: 100%;
  background-color: rgb(246, 246, 246);
}

body * {
  font-family: 'NanumPenScript', sans-serif;
}

#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0 0 29px 0;
  padding: 0px 20px;
}
