.header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #eee;
}

.header > div {
  display: flex;
}

.header .header_center {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

.header .header_left {
  width: 25%;
  justify-content: flex-start;
}

.header .header_right {
  width: 25%;
  justify-content: flex-end;
}
